@import url('https://www.grinnellplans.com/styles/starter_defaults.css');

/*----------------Resets----------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

ul {
  list-style-type: none;
}

/*---------------variables---------------*/

@font-face {
  font-family: 'rhlb-body';
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,400')
}

@font-face {
  font-family: 'icons';
  src: url('https://use.fontawesome.com/c748b186fd.js');
}

/*-------------------basic styles-------------------*/

body {
  width: 100%;
}

h1 {
  font-family: 'rhlb-body', arial, sans-serif;
  font-weight: bold;
}

p, h2, h3, h4, h5, li, a, span {
  font-family: 'rhlb-body', arial, sans-serif;
}

p, li {
  font-size: 15px;
  line-height: 1.2;
}

a {
  color: #327bc9;
  text-decoration: none;
  font-size: inherit;
}

a:visited {
  color: #587ca3;
}

button {
  min-height: 55px;
  margin: 0 20px 0 0;
  padding: 10px;
  background: #3C474B;
  border: 1px solid #4F7CAC;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.36);
  border-radius: 1px;
  font-size: 35px;
  color: white;
}

.infomessage {
  margin: 40px 10px;
  font-size: 13px;
  background: rgba(204, 126, 133, 0.2);
}

/*Styling easy navigation links*/

#autoread .current .first a,
a#mainlink_edit {
  font-weight: bold;
  color: #000;
}

/*Adding brackets to plan names*/
#autoread .current .first a::before,
.username .value::before {
  content: "[";
}
#autoread .current .first a::after,
.username .value::after {
  content: "]";
}

/*-------------------nav-------------------*/

/*header visuals*/
#logo {
  position: fixed;
  top: 0;
  background: #4F7CAC;
  border-bottom: #601636 8px solid;
  -webkit-box-shadow: 0px -5px 15px 6px rgba(161,161,161,1);
  -moz-box-shadow: 0px -5px 15px 6px rgba(161,161,161,1);
  box-shadow: 0px -5px 15px 6px rgba(161,161,161,1);
  width: 100%;
  height: 135px;
  margin: 0;
}

#logo a {
  display: none;
}

#logo::before {
  content: "[P]";
  position: fixed;
  width: 10%;
  top: 25.5px;
  left: 45%;
  color: #fff;
  font-size: 65px;
  font-weight: bold;
  font-family: 'rhlb-body', arial, sans-serif;
  letter-spacing: 9px;
}

/*--------------------
Creating the menus
-------------------*/
#links,
#autoread {
  position: fixed;
  top: 45px;
  margin: 0 20px;
  z-index: 201;
}

#links h2,
#autoread h2 {
  position: relative;
  display: block;
  padding: 5px 0;
  z-index: 201;
  text-align: center;
}

#links {
  width: 25%;
  left: 2%;
}

#autoread {
  width: 30%;
  right: 2%;
}

#links h2:hover,
#autoread h2:hover {
  background: #601636;
}

/*placing the ul element offscreen when inactive*/
#autoread > ul,
#links > ul {
	position: absolute;
	top:-9999px;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 200;
}

#autoread:hover > ul,
#links:hover > ul {
	top: -5px;
	left: -5px;
	right: -5px;
	padding: 80px 15px 20px;
	background: #E6E9EC;
  -webkit-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.36);
  box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.36);
}

/*Styling the fonts within the nav*/
#nav h2,
#autoread .current .first a,
a#mainlink_edit {
  font-size: 40px;
  color: #fff;
  text-decoration: none;
}

/*Isolating the first plan in the current autoread
level and placing the link within the footer*/

#autoread .current .first a {
  display: block;
  position: fixed;
  z-index: 300;
  bottom: 25.5px;
  right: 0px;
  text-align: right;
  padding: 27.5px 5% 0 20px;
}

/*Placing the edit plan link within the footer*/
#mainlink_edit {
  display: block;
  position: fixed;
  z-index: 301;
  bottom: -2px;
  left: 0;
  padding: 27.5px 0 0 5%;
  /*expanding the background of this element to serve as a pseudo footer*/
    background: #4F7CAC;
    border-top: solid #601636 10px;
    -webkit-box-shadow: 0px 5px 15px 6px rgba(161,161,161,1);
    -moz-box-shadow: 0px 5px 15px 6px rgba(161,161,161,1);
    box-shadow: 0px 5px 15px 6px rgba(161,161,161,1);
    width: 100%;
    height: 75px;
}

/*placing the finger in the footer UNFINISHED*/

#finger {
  display: block;
  position: fixed;
  bottom: 25.5px;
  z-index: 300;
  padding: 0 30% 0 30%;
}

#finger button {
  display: none;
}

#finger input {
  height: 55px;
  font-size: 40px;
  background: url(images/magnifier.svg) no-repeat;
  background-position: center;
  border: none;
}

#finger input:focus {
  width: 100%;
  margin-left: 0;
  background: url(images/magnifier.svg) no-repeat;
  background-position: right;
  background: #fff;
  transition: all .6s cubic-bezier(.35,.01,.59,.96);
}

/*-------------------main-------------------*/
#main {
  margin: 145px 0 0 0;
  padding: 10px 5%;
  clear: both;
  background-color: #fff;
}

/*styling the username, title and last update date
of the plan being read*/

#header .title,
.lastlogin .long {
  display: none;
}

.username .value {
  font-size: 90px;
  float: left;
  margin-bottom: 10px;
}

.lastupdated .long {
  display: inline;
  float: right;
  width: 20%;
  text-align: right;
  font-size: 30px;
  font-weight: bold;
}

.planname .value {
  float: left;
  clear: left;
  font-size: 42px;
  font-weight: bold;
  margin: 5px 20px 50px 5px;
}

/*styling the body of the plan*/

.plan_text {
  clear: both;
  /*prevent over-long lines breaking out*/
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

/* Styling the bottom buttons */
/*Radio buttons and button for autoread*/
#autoreadadd {
  font-family: 'rhlb-body', arial, sans-serif;
  font-size: 50px;
  padding: 0 10px;
}

#block button {
  background-color: #601636;
  margin-top: 20px;
}

.radioinput {
  padding: 0px 30px 0px 0px;
}

input[type=radio],
input[type=checkbox] {
  width: 30px;
  height: 30px;
}

/*-------------------footer-------------------*/
#poweredby,
#legal {
  padding: 10px 5%;
  clear: both;
  background-color: #fff;
  font-size: 12px;
  color: #3C474B;
}

#legal {
    margin: 0 0 145px 0;
}

#justupdated {
  margin: 60px 0 30px 0;
  padding: 10px 0;
  background: #D1D1D1;
  border-left: 20px solid #3C474B;
  border-right: 20px solid #3C474B;
  text-align: center;
}

/*TODO list
- define a style for horizontal line breaks
- add brackets where they'd be valuable
*/

/*-----------------------------------
RESPONSIVE STYLES TODO
-----------------------------------*/

/*Landscape phone & portrait Tablet*/

/*Desktop*/
